<h1>Pedido</h1>
<div class="container text-center">
    <div class="row">
        <div class="col">
            <h2>Datos Cliente:</h2>
            <div class="form-group">
                <label>Nombre completo:</label>
                <input type="text" class="form-control" [(ngModel)]="nombreCompleto">
            </div>
            <div class="form-group">
                <label>Dirección:</label>
                <input type="text" class="form-control" [(ngModel)]="direccion">
            </div>
            <div class="form-group">
                <label>Teléfono:</label>
                <input type="text" class="form-control" [(ngModel)]="telefono">
            </div>
            <div class="form-group">
                <label>Fecha de compra:</label>
                <input type="date" class="form-control" [(ngModel)]="fechaCompra">
            </div>
            <hr>
            <h2>Pizzas:</h2>
            <div class="form-group">
                <label>Tamaño:</label>
                <select class="form-control" [(ngModel)]="tamanio">
                    <option value="Chica">Chica - $40</option>
                    <option value="Mediana">Mediana - $80</option>
                    <option value="Grande">Grande - $120</option>
                </select>
            </div>
            <div class="form-group text-center">
                <label>Ingredientes:</label>
                <div class="d-flex flex-wrap justify-content-center">
                    <div *ngFor="let ingrediente of ingredientesDisponibles" class="col-md-6">
                        <label class="d-block">
                            <input class="form-check-input" type="checkbox" [(ngModel)]="ingrediente.seleccionado">
                            {{ ingrediente.nombre }}
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>Número de pizzas:</label>
                <input type="number" class="form-control" [(ngModel)]="numeroPizzas">
            </div>
            <button class="btn btn-primary" (click)="agregarPizza()">Agregar</button>
        </div>
        <div class="col">
            <h2>Detalle del pedido:</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Cliente:</th>
                        <th>Tamaño:</th>
                        <th>Ingredientes:</th>
                        <th>Número de pizzas:</th>
                        <th>Subtotal:</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pizza of detallePedido">
                        <td>{{ pizza.nombreCompleto }}</td>
                        <td>{{ pizza.tamanio }}</td>
                        <td>{{ pizza.ingredientes }}</td>
                        <td>{{ pizza.numeroPizzas }}</td>
                        <td>{{ pizza.subtotal }}</td>
                        <td><button class="btn btn-danger" (click)="quitarPizza(pizza)">Quitar</button></td>
                    </tr>
                </tbody>
            </table>
            <hr>
            <br>
            <button class="btn btn-success" (click)="finalizarPedido()">Finalizar pedido</button>
            <br>
            <br>
            <div *ngIf="mostrarConfirmacion">
                <p>El costo total del pedido es: ${{ costoTotal }}</p>
                <label>¿Estás de acuerdo?</label>
                <br>
                <button class="btn btn-primary" (click)="aceptarPedido()">Sí</button>
                <button class="btn btn-danger" (click)="editarPedido()">No</button>
            </div>
            <hr>
            <br>
            <div *ngIf="pedidoEnviado" class="card bg-success text-white">
                <div class="card-body">
                    <h5 class="card-title">¡Pedido Confirmado!</h5>
                    <p class="card-text">El pedido se esta preparando.</p>
                </div>
            </div>
        </div>
    </div>
</div>