<style>
    .container {
        margin-top: 50px;
        background-color: #007bff;
    }
    
    .form-group {
        margin-bottom: 20px;
    }
    
    label {
        font-weight: bold;
        color: #333;
    }
    
    .btn-primary {
        background-color: #007bff;
        color: #fff;
    }
    
    .alert {
        margin-top: 20px;
    }
    
    .alert-danger {
        background-color: #dc3545;
        color: #fff;
    }
    
    .alert-success {
        background-color: #28a745;
        color: #fff;
    }
    
    .alert-info {
        background-color: #17a2b8;
        color: #fff;
    }
    
    .imgRedonda {
        width: 300px;
        height: 300px;
        border-radius: 160px;
        border: 3px solid #007bff;
    }
</style>
<h1>Ticket de Cine</h1>
<div class="container text-center">
    <div class="row">
        <div class="col-6">
            <form action="" [formGroup]="cineForm" (ngSubmit)="obtenerDatos()">
                <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    <input type="text" class="form-control" id="nombre" formControlName="nombre" placeholder="Ingrese su nombre">
                    <div *ngIf="cineForm.get('nombre')?.invalid && cineForm.get('nombre')?.touched" class="text-danger">
                        Nombre es requerido (mínimo 3 caracteres)
                    </div>
                </div>
                <div class="form-group">
                    <label for="numPersonas">Número de Personas:</label>
                    <input type="number" class="form-control" id="numPersonas" formControlName="numPersonas" placeholder="Ingrese el número de personas">
                    <div *ngIf="cineForm.get('numPersonas')?.invalid && cineForm.get('numPersonas')?.touched" class="text-danger">
                        Número de personas es requerido (mínimo 1)
                    </div>
                </div>
                <div class="form-group">
                    <label for="numBoletos">Número de Boletos:</label>
                    <input type="number" class="form-control" id="numBoletos" formControlName="numBoletos" placeholder="Ingrese el número de boletos">
                    <div *ngIf="cineForm.get('numBoletos')?.invalid && cineForm.get('numBoletos')?.touched" class="text-danger">
                        Número de boletos es requerido (mínimo 1)
                    </div>
                </div>
                <div class="form-group">
                    <label for="tarjeta">¿Tiene tarjeta de descuento?</label>
                    <select class="form-control" id="tarjeta" formControlName="tarjeta">
                        <option *ngFor="let opcion of opciones" [value]="opcion">{{ opcion }}</option>
                    </select>
                    <div *ngIf="cineForm.get('tarjeta')?.invalid && cineForm.get('tarjeta')?.touched" class="text-danger">
                        Tarjeta es requerida
                    </div>
                </div>
                <button type="submit" class="btn btn-success">Obtener Datos</button>
            </form>
        </div>
        <div class="col-6">
            <div *ngIf="mostrar1" class="alert alert-danger mt-4">
                {{ aviso }}
            </div>
            <div *ngIf="mostrar2" class="alert alert-success mt-4">
                <p>Total: ${{ total }}</p>
                <p>Disfrute de su película, {{ nombre }}!</p>
            </div>
            <div *ngIf="mostrar3" class="alert alert-info mt-4">
                <p>Descuento adicional del 10% por tener tarjeta de descuento.</p>
            </div>
            <img src="https://scontent.fbjx1-1.fna.fbcdn.net/v/t1.6435-9/118990257_110925287416641_797062578352158080_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeHnppI8S2m7JEXbncdbIEBk6uPGl1SAPSzq48aXVIA9LHIwdch7NueDy6sf2_7wCejxek25dUOAlO0YRWmthdsl&_nc_ohc=v2FXogAvXK0AX-jAgzr&_nc_ht=scontent.fbjx1-1.fna&oh=00_AfDlODIacXQ0SU-jN-G0m2IXk3oWVgnPT2DpG3ICLhKYig&oe=64D3E2D1"
                alt="Logo" class='imgRedonda' style="position: absolute; bottom: -250px; left: 150px; width: 350px; height: 350px;">
        </div>
    </div>
</div>